html, body { 
    height: 100%;
}

body {
    padding-top: 70px;
    min-height: 100%;
    color: #574f58;
}

.container { 
    width: 80%;
}

/* Wrapper for page content to push down footer */
#main {
    min-height: 100%;
    height: auto;
    /* Negative indent footer by its height */
    margin: 0 auto -50px;
    /* Pad bottom by footer height */
    padding: 0 0 50px;

}

a, a:visited, a:active, .navbar-default .navbar-nav li a, .navbar-default .navbar-nav li a:active, .navbar-default .navbar-nav li a:visited { 
    color: #b6b6b6;
}

a:hover { 
    color: #e8a701;  
}

/* ---- navbar ---- */

nav { 
    height: 60px; 
}

.navbar-default, #footer { 
    background-color: #2a242a;
    border-color: #2a242a;
    color: #b6b6b6;
}

.navbar .logo { 
    height: 40px;
    padding-bottom: 10px;
    margin-right: 15px; 
} 

.navbar-default .navbar-nav li a { 
    height: 40px; 
    margin-right: 25px; 
    margin-top: 5px; 
    padding-left: 0px; 
    padding-right: 0px;
}

.navbar-default .navbar-nav .active a, .navbar-default .navbar-nav .active a:hover, .navbar-default .navbar-nav .active a:visited, .navbar-default .navbar-nav .active a:active, .navbar-default .navbar-nav li a:hover { 
    color: #e8a701;  
    background-color: #2a242a;
    border-bottom: 1px solid #e8a701;
}

/*----search bar----*/

#search { 
    border: 0px; 
}

#search .container div { 
    margin-right: 5px;
}

#search .input-group { 
/*    temp*/
    width: 50%;   
    float: left;
}

#search { 
    padding: 10px 0px;
}

#search button { 
    background-color: #e8a701;
    color: white;
}

#search .dropdown { 
    float: right;
}

#search .dropdown button { 
    background-color: 
}

/*----table-------*/

.table tr:nth-child(2n-1 ) { 
    background-color: #f2f2f2;
}


/*-----footer-----*/
#footer { 
    height: 50px;
    padding: 15px; 
}

#footer span { 
    margin: 0px 10px; 
}

#footer .footer-copyright { 
    float: right;
}


/* overrides */
#search { 
    border-radius: 0px;
}
