html, body { 
    height: 100%;
}

body {
    position: relative; 
    padding-top: 70px;
    min-height: 100%;
    color: #574f58; 
}

.container { 
    width: 80%;
}

/* Wrapper for page content to push down footer */
#main {
    min-height: 100%;
    height: auto;
    /* Negative indent footer by its height */
    margin: 0 auto -50px;
    /* Pad bottom by footer height */
    padding: 0 0 50px;

}

a, a:visited, a:active, .navbar-default .navbar-nav li a, .navbar-default .navbar-nav li a:active, .navbar-default .navbar-nav li a:visited { 
    color: #b6b6b6;
}

a:hover { 
    color: #e8a701;  
}

/* ---- navbar ---- */

nav { 
    height: 60px; 
}

.navbar-default, #footer { 
    background-color: #2a242a;
    border-color: #2a242a;
    color: #b6b6b6;
}

.navbar .logo { 
    height: 40px;
    padding-bottom: 10px;
    margin-right: 15px; 
} 

.navbar-default .navbar-nav li a { 
    height: 40px; 
    margin-right: 25px; 
    margin-top: 5px; 
    padding-left: 0px; 
    padding-right: 0px;
}

.navbar-default .navbar-nav .active a, .navbar-default .navbar-nav .active a:hover, .navbar-default .navbar-nav .active a:visited, .navbar-default .navbar-nav .active a:active, .navbar-default .navbar-nav li a:hover { 
    color: #e8a701;  
    background-color: #2a242a;
    border-bottom: 1px solid #e8a701;
}

/*----search bar----*/

#search { 
    border: 0px; 
}

#search .container div { 
    margin-right: 5px;
}

#search .input-group { 
/*    temp*/
    width: 50%;   
    float: left;
}

#search { 
    padding: 10px 0px;
}

#search button { 
    background-color: #e8a701;
    color: white;
}

#search .dropdown { 
    float: right;
}

#search .dropdown button { 
    background-color: #e8a701;
}

.input-group button { 
    height: 35px; 
}

/*-----table------*/

.table tr:nth-child(2n-1) { 
    background-color: #f2f2f2;
}

.table-content:hover, .table tr.table-content:nth-child(2n-1):hover { 
    background-color: #b6b6b6;
    cursor: hand;
} 

.table img { 
    width: 150px; 
}

.table td { 
    width: 80px;
}

.table tr td, .table tr th { 
    text-align: center;
}

/*-----footer-----*/
#footer { 
    height: 50px;
    padding: 15px; 
}

#footer span { 
    margin: 0px 10px; 
}

#footer .footer-copyright { 
    float: right;
}


/* Map page */
#map { 
    position: absolute; 
    bottom: 0px; 
    top: 60px; 
    left: 0; 
    right: 0; 
    bottom: 50; 
    height: auto; 
    width: auto;
}

#floating-panel {
    position: absolute; 
    bottom: 20px;
    left: 30%;
    z-index: 5;
    padding: 5px;
    text-align: center;
    line-height: 20px;
    padding-left: 10px;
}

#floating-panel button { 
    margin-right: 5px;
    background-color: #f2f2f2;
} 

#map_page { 
    height:100%; 
    width: 100%;
}

/*----raw data view------*/ 


#overlay {
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color: #2a242a;
    z-index:9900;
    opacity: 0.95; 
}

#overlay-content { 
    color: #f2f2f2;
    z-index:9905;
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0; 
    text-align: center;
}

#overlay-content img { 
    margin-bottom: 15px; 
    height: 300px; 
}

#overlay-content img, #overlay-content .glyphicon-chevron-left, .glyphicon-chevron-right { 
    float: left;
}

.glyphicon-remove-circle { 
    padding: 50px; 
    font-size: 30px;
    float: right; 
}

#raw_image_content {
    margin-top: 10%;
    display: inline-block;
}

.glyphicon-chevron-left { 
    font-size: 35px;
    padding-top: 150px; 
    padding-right: 30px; 
}

.glyphicon-chevron-right { 
    font-size: 35px; 
    padding-top: 150px; 
    padding-left: 30px; 
}

#raw_data_info { /* holds the table */

}

#raw_data_info table { 
    width: 60%;
    margin: 0 auto;
}

#raw_data_info table tbody tr:nth-child(1) { 
    background-color: #2a242a;
}

#raw_data_info table tbody tr:nth-child(1) th {
    text-align: center;
    padding: 10px; 
}

.raw-data-clickable:hover { 
    color: #b6b6b6;
    cursor: pointer;
}


/* overrides */
#search { 
    border-radius: 0px;
}



