body {
    height: 100%; 
    padding-top: 70px;
    min-height: 100%;
}

#main { 
    overflow: auto;
    padding-bottom: 50px; /* size of footer */
}

a:hover { 
    color: #e8a701;   
}

a { 
    color: white;
}

/* ---- navbar ---- */

.navbar-default, #footer { 
    background-color: #2a242a;
    border-color: #2a242a;
    color: white;
}

.navbar .logo { 
    height: 30px;
} 

/*----search bar----*/

#search .container div { 
    margin-right: 5px;
}

#search .input-group { 
/*    temp*/
    width: 300px;   
    float: left;
}

#search { 
    padding: 10px;
}

#search button { 
    background-color: #e8a701;
}

#search .dropdown { 
    float: right;
}


/*-----footer-----*/
#footer { 
    position: relative;
    width: 100%;
    margin-top: -50px;
    height: 50px; 
    padding: 15px;
}

#footer span { 
    margin: 0px 10px; 
}

#footer .footer-copyright { 
    float: right;
}

/* overrides */

#search { 
    border-radius: 0px;
}


